<!doctype html>

<html lang="en">
  <head>
    <style>
        .jumbotron {
            width: 99.05vw;
            height: 95vh;
            background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url("https://aussiegossip.com.au/wp-content/uploads/2016/07/mood-love-romance-men-males-women-females-nature-landscapes-lakes-mountains-wallpaper-1-1.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .jumbotron h1, h2{
          margin-top:500px; 
        
        }
    </style>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom CSS -->
    <% stylesheet_link_tag 'application' %>
    <title>The Gossip Project</title>
    <header>
          <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <a class="navbar-brand" href="#">The Gossip Project</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" <%= link_to "Home", home_path %><span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" <%= link_to "Team", team_path %></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" <%= link_to "Contact", contact_path %></a>
                  </li>
              </div>
            </nav>
    </header>
  </head>

  <body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container text-center text-light">
        <h1 class="display-4">Bienvenue sur la page The Gossip Project <%=params[:first_name] %> !!!</h1>
        <h2 class="h3">Te voici sur la landing page des potins de The hacking Project! On te souhaite une agréable visite!</h2>
      </div>
    </div>
  </body>
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/the-big-picture.css" rel="stylesheet">
</html>